body {
  background-color: darkred;
  background-image: url(https://images8.alphacoders.com/110/1102284.jpg);
}




#new-student-cards{
  width: 50%;
  border: 2px black solid;
  border-radius: .25rem;
  margin: 20px;
  padding-top: 45px;
}

#voldy-cards {
    width: 50%;
    border: 2px solid black;
    margin: 20px;
    border-radius: .25rem;
    padding-top: 50px;

}
